@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 44px 0 144px 76px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 23px;
  padding: 16px;
  justify-content: left;
  align-items: center;
}

.nav__button,
.nav__link {
  font-weight: 600;
  text-decoration: none;
  font-size: 24px;
  color: #989d9c;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #665ae1;
  width: 130px;
  height: 41px;
  border-radius: 20.5px;
  color: #fff;
  border: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 86px;
  margin: auto;
  padding: auto;
  justify-content: left;
  align-items: center;
}

.home__logo {
  width: 568px;
  height: 500px;
  margin-left: 125px;
}

/* INTRO */

.intro__title {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
}

.intro__subtitle {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
}

.intro__description {
  width: 445px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #848484;
  text-align: justify;
  margin: 32px 0 65px 0;
}

.intro__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #adff00;
  width: 239px;
  height: 64px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 4px #00000040;
}

@media (max-width: 390px) {
  header {
    display: none;
  }

  body {
    width: 100%;
  }
  .container {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .home__logo {
    width: 300px;
    height: 317px;
    padding: 0 8px;
    margin: 149px 22px 1px 14px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
  }

  .intro__title {
    width: 263px;
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    padding: 0 0 7px 0;
  }

  .intro__subtitle {
    width: 232px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    padding: 0 0 17px 0;
  }

  .intro__description {
    display: none;
  }

  .intro__button {
    width: 239px;
    height: 64px;
  }
}
